OPENAI_API_KEY= your-openai-api-key-here
MODEL_BASE_URL= https://api.deepseek.com
MODEL_ID= deepseek-chat

EMBEDDING_MODEL = YOUR-EMBEDDING-MODEL-NAME-HERE
EMBEDDING_MODEL_BASE_URL= YOUR-EMBEDDING-MODEL-BASE-URL-HERE
EMBEDDING_MODEL_API_KEY = YOUR-EMBEDDING-MODEL-API-KEY-HERE
